numpy
scipy
flask
RPi.GPIO --use-pep517
ninja
PyGObject
rpimotorlib
rpi-lgpio
libsvm --use-pep517
mem_top
scikit-learn
simplejpeg

-e bee_track @ git+https://github.com/SheffieldMLtracking/bee_track.git 

git+https://github.com/SheffieldMLtracking/btretrodetect.git --use-pep517

QueueBuffer @ git+https://github.com/lionfish0/QueueBuffer.git --use-pep517

psutil==5.*
Flask-Cors==4.*
Flask-Compress==1.*
spidev==3.*
requests==2.*
